---
import SeoMetadata from '../Metadata/Metadata.astro';
import SeoSiteVerification from '../SiteVerification/SiteVerification.astro';
import SeoAnalytics from '../Analytics/Analytics.astro';
import type { LayoutProps as Props } from './types';

import { I18N } from 'vendor:config';

const { metadata = {}, class: className } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class={className}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <SeoMetadata {...metadata} />

    <slot name="head" />
    <slot name="styles" />

    <SeoSiteVerification />
    <SeoAnalytics />
  </head>

  <body class="antialiased bg-background text-foreground tracking-tight">
    <slot />

    <slot name="scripts" />
  </body>
</html>
