---
import type { Stats0Props as Props } from './types';
import { Icon } from 'astro-icon/components';
import { cn } from '../../utils';

const { items = [], classes = {} } = Astro.props;

const {
  container: containerClass = 'text-center w-full justify-center',
  content: contentClass = 'md:border-r border-input md:last:border-none',
  title: titleClass = 'text-primary text-3xl lg:text-5xl xl:text-6xl',
  description: descriptionClass = 'font-medium uppercase tracking-widest text-muted-foreground text-sm lg:text-base',
  icon: iconClass = 'text-primary',
} = classes;
---

<dl class={cn('flex flex-wrap', containerClass)}>
  {
    items &&
      items.map(({ description, title, icon }) => (
        <div class={cn('p-4 w-full sm:w-1/2 md:w-1/4 max-w-60 intersect-once intersect-quarter', contentClass)}>
          {icon && (
            <div class={cn('flex items-center justify-center mx-auto mb-4', iconClass)}>
              <Icon name={icon} class="w-10 h-10" />
            </div>
          )}
          {title && <dt class={cn('font-heading font-bold', titleClass)}>{title}</dt>}
          {description && <dd class={cn('', descriptionClass)}>{description}</dd>}
        </div>
      ))
  }
</dl>
