---
import type { Card0Props as Props } from './types';
import { twMerge } from 'tailwind-merge';

const { badge, as = 'article', classes = {} } = Astro.props;

const WrapperTag = as;

const { container: containerClass = '', badge: badgeClass = 'top-2 left-2' } = classes;
---

<WrapperTag
  class={twMerge(
    'relative flex flex-col justify-between gap-6 overflow-hidden rounded-lg border border-input bg-card text-card-foreground py-6 group',
    containerClass
  )}
>
  <div class={twMerge('absolute z-10', badgeClass)}>
    <slot name="badge">
      {badge && <span set:html={badge} />}
    </slot>
  </div>

  <slot name="image" />

  <slot />
</WrapperTag>
