---
import { twMerge } from 'tailwind-merge';
import DarkMode from '~/components/DarkMode/DarkMode.astro';
export interface Props {
  title?: string;
  class?: string;
}

const { title = '', class: className = '' } = Astro.props;
---

<div class="not-prose">
  {title && <div class="text-2xl mb-4">{title}</div>}
  <div class="flex items-center justify-between px-4 py-2 bg-slate-300 dark:bg-zinc-700 rounded-t-lg">
    <div class="flex items-center gap-2">
      <div class="size-4 rounded-full bg-slate-400 dark:bg-zinc-500"></div>
      <div class="size-4 rounded-full bg-slate-400 dark:bg-zinc-500"></div>
      <div class="size-4 rounded-full bg-slate-400 dark:bg-zinc-500"></div>

      <div
        class="ml-6 h-6 w-48 rounded-full bg-slate-200 dark:bg-zinc-500/50 pt-1 pl-3 text-sm hidden md:block text-black/70 dark:text-white/70"
      >
        https://
      </div>
    </div>
    <DarkMode class="size-6 p-0 hover:text-black dark:hover:text-white" />
  </div>
  <div class={twMerge('border-2 border-slate-300 dark:border-zinc-700', className)}>
    <slot />
  </div>
</div>
