---
import type { HeadlineProps as Props } from './types';
import { cn } from '../../utils';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  position = 'center',
  classes = {},
  as = 'h2',
} = Astro.props;

const {
  container: containerClass = '',
  title: titleClass = 'text-foreground',
  subtitle: subtitleClass = '',
  tagline: taglineClass = '',
} = classes;

const WrapperTag = as;
---

{
  (title || subtitle || tagline) && (
    <div
      class={cn(
        'mb-8 md:mb-12',
        position === 'center' && 'text-center max-w-3xl md:mx-auto',
        position === 'left' && 'text-left max-w-3xl',
        position === 'right' && 'text-right',
        containerClass
      )}
    >
      {tagline && (
        <p
          class={cn('text-sm md:text-base text-muted-foreground font-bold tracking-wide uppercase', taglineClass)}
          set:html={tagline}
        />
      )}
      {title && (
        <WrapperTag
          class={cn(
            'font-bold leading-tighter tracking-tighter font-heading text-heading text-2xl md:text-4xl',
            titleClass
          )}
          set:html={title}
        />
      )}

      {subtitle && (
        <p class={cn('mt-1 md:mt-4 text-muted-foreground text-lg/6 md:text-xl', subtitleClass)} set:html={subtitle} />
      )}
    </div>
  )
}
